* {
    margin : 0px;
    padding : 0px;
    color : black;
    font-size : 16px;
    box-sizing : border-box;
}

#main {
    display : flex;
}

.sideBar {
    margin-right : 2vw;
    width : 300px;
    height : 100vh;
    box-shadow : 0px 0px 10px black;
    /* transition : property duration timing-function delay */
    /* 
        property : 트랜지션의 대상이 되는 CSS 프로퍼티를 지정한다(기본값 : all)
        duration : 트랜지션이 일어나는 지속시간을 초 단위(s) 또는 밀리 초 단위(ms)로 지정한다(기본값 : 0s)
        timing-function : 트랜지션 효과를 위한 수치 함수를 지정한다(기본값 : ease)
        delay : 프로퍼티가 변화한 시점과 트랜지션이 실제로 시작하는 사이에 대기하는 시간을 초 단위(s) 또는 밀리 초 단위(ms)로 지정한다(기본값 : 0s)
    */
    transition : width 1s ease 0s;
}

.closeSideBar {
    width : 50px;
}