* {
    margin : 0px;
    padding : 0px;
    color : black;
    font-size : 16px;
    box-sizing : border-box;
}

#main {
    display : flex;
}

/* #region sidebar 관련 CSS */

.sidebar {
    margin : 20px 2vw 20px 0px;
    width : 300px;
    height : 100vh;
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    box-shadow : 0px 0px 10px black;
    /* transition : property duration timing-function delay */
    /* 
        property : 트랜지션의 대상이 되는 CSS 프로퍼티를 지정한다(기본값 : all)
        duration : 트랜지션이 일어나는 지속시간을 초 단위(s) 또는 밀리 초 단위(ms)로 지정한다(기본값 : 0s)
        timing-function : 트랜지션 효과를 위한 수치 함수를 지정한다(기본값 : ease)
        delay : 프로퍼티가 변화한 시점과 트랜지션이 실제로 시작하는 사이에 대기하는 시간을 초 단위(s) 또는 밀리 초 단위(ms)로 지정한다(기본값 : 0s)
    */
    transition : width 1s ease 0s;
}

.close_Sidebar {
    width : 50px;
}

.sidebar_header {
    padding : 10px;
    display : flex;
    justify-content : space-between;
    align-items : center;
}
.menu_icon {
    text-align : center;
}
.menu_icon > img {
    margin-right : 10px;
    width : 30px;
    height : 30px;
    text-align : center;
    cursor : pointer;
}
/* .title {
    display : block;
} */
.title > a {
    text-decoration : none;
    font-size : 1.25rem;
    font-weight : bold;
}
.title, .search_icon_on {
    display : block;
}
.search_icon_on > img {
    margin-left : 10px;
    width : 30px;
    height : 30px;
    cursor : pointer;
}
.title_off, .search_icon_off {
    display : none;
}

/* #endregion sideBar 관련 CSS */

/* #region content 관련 CSS */

.content {
    margin : 20px 20px 20px 0px;
    width : 100vw;
    height : 100vh;
    border-radius : 10px;
    box-shadow : 0px 0px 10px black;
}

/* #endregion content 관련 CSS */